<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925555659968-ok0359b0vkg3g5ed6ge74mbrj4evgd5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925555659968-ok0359b0vkg3g5ed6ge74mbrj4evgd5a</string>
	<key>API_KEY</key>
	<string>AIzaSyA5lQt4yD682lRa9k6frbtYZ3Atgq3oF40</string>
	<key>GCM_SENDER_ID</key>
	<string>925555659968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMe</string>
	<key>PROJECT_ID</key>
	<string>chat-me-dc32d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-me-dc32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925555659968:ios:4d2826725b9d8430ea4925</string>
</dict>
</plist>